Xft.dpi: 95.78
Xft.antialias: 1
Xft.hinting: 1
Xft.rgba: rgb
Xft.autohint: 0
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

*.scrollBar:                false
*.cursorBlink:              true
*.internalBorder:           25
*.keysym.C-Left:            \033[1;5D
*.keysym.C-Right:           \033[1;5C
*.keysym.C-Up:              \033[1;5A
*.keysym.C-Down:            \033[1;5B
*.keysym.M-Left:            \033[1;3D
*.keysym.M-Right:           \033[1;3C
*.keysym.M-C-k:             33[1;7B
*.keysym.M-C-j:             33[1;7C
*.keysym.Shift-Up:          command:\033]720;1\007
*.keysym.Shift-Down:        command:\033]721;1\007

*.foreground:               #ebdbb2
*.background:               #272727

*.color0:                   #272727
*.color8:                   #928373

*.color1:                   #cc231c
*.color9:                   #fb4833

*.color2:                   #989719
*.color10:                  #b8ba25

*.color3:                   #d79920
*.color11:                  #fabc2e

*.color4:                   #448488
*.color12:                  #83a597

*.color5:                   #b16185
*.color13:                  #d3859a

*.color6:                   #689d69
*.color14:                  #8ec07b

*.color7:                   #a89983
*.color15:                  #ebdbb2
