* {
  border: none;
  border-radius: 0;
  font-family: Terminus, monospace;
  font-size: 17px;
  min-height: 0;
}

window#waybar {
  background: rgba(39, 39, 39, 0.5);
  color: #ffffff;
}

#workspaces button {
  padding: 0 7px;
  color: #a89983;
}

#workspaces button:hover {
  background: none;
  transition: none;
  border: none;
  outline: none;
  box-shadow: none;
  text-shadow: none;
}

#workspaces button.focused {
  color: #FFF;
}

#clock,
#battery,
#backlight,
#language,
#network,
#bluetooth,
#pulseaudio {
  padding: 0 8px;
  color: #ffffff;
}

#clock {
  margin-right: 15px;
}

#window,
#workspaces {
  margin-left: 15px;
}
