* {
    background:                     #272727;
    background-alt:                 #373737;
    foreground:                     #ebdbb2;
    border:               		    	#a89983;
    selected:               		    #655b53;
}
